{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock head %}

{% block style %}
{% endblock style %}

{% block title %}
{% endblock title %}

{% block selector_base %}
{% include 'includes/database_selector.html' %}
{% endblock selector_base %}

{% block barra_superior %}
{% include 'includes/top_nav.html' %}
{% endblock barra_superior %}

{% block barra_lateral %}
{% endblock barra_lateral %}

{% block window %}
{% endblock window %}

{% block script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock script %}